version: '3.9'

services:
  generator:
    build: .
    volumes:
      - ./data:/app/data
      - ./config:/app/config               # якщо використовуєте config.yaml
    command: >
      python src/generate_dataset_ext.py
      --samples 50000
      --conv-samples 7500
    # working_dir: /app                   # не обов'язково, якщо WORKDIR вже /app в Dockerfile